.footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.footer p{
  color: black
}

.footer a{
  color: rgb(52, 51, 51)
}

.footer a:hover{
  color: black
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-email, .footer-whatsapp {
  margin: 0 10px;
}